@model QuotationSystem.Models.ViewComponents.LeftNavigationViewModel
@inject QuotationSystem.Data.Sessions.ISessionContext _sessionContext

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element text-center">
                    <img style="width: 100px; height: 100px;" alt="" class="img-circle" src="~/profile-placeholder.png" />                    
                    <span class="clear">
                        <span class="block m-t-xs">
                            <strong class="font-bold" style="color:white;">@_sessionContext.CurrentUser.Name</strong>
                        </span>
                    </span>
                </div>
            </li>
            <li class="@Html.IsSelected(controllers: "Home")">
                <a href="@Url.Action("Index", "Home")">
                    <i class="fa fa-home"></i>
                    <span class="nav-label">Home</span>
                </a>
            </li>
            @if (Model.Permissions.Any(p => p == 0))
            {
                <li class="@Html.IsSelected(controllers: "User")">
                    <a href="@Url.Action("UserList", "User")">
                        <i class="fa fa-user"></i>
                        <span class="nav-label">User</span>
                    </a>
                </li>
            }
            @if (Model.Permissions.Any(p => p == 1))
            {
                <li class="@Html.IsSelected(controllers: "Item")">
                    <a href="@Url.Action("ItemList", "Item")">
                        <i class="fa fa-box"></i>
                        <span class="nav-label">Item</span>
                    </a>
                </li>
            }
            @if (Model.Permissions.Any(p => p == 2))
            {
                <li class="@Html.IsSelected(controllers: "Quotation")">
                    <a href="@Url.Action("QuotationList", "Quotation")">
                        <i class="fa fa-file-lines"></i>
                        <span class="nav-label">Quotation</span>
                    </a>
                </li>
            }            

            <li class="@Html.IsSelected(controllers: "CreateLabel")">
                <a href="@Url.Action("index", "CreateLabel")">
                    <i class="fa fa-tag"></i>
                    <span class="nav-label">Create label</span>
                </a>
            </li>
            <li class="@Html.IsSelected(controllers: "StockIn")">
                <a href="#">
                    <i class="fa fa-bars"></i><text> </text>
                    <span class="nav-label">Stock</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse">
                    <li class="@Html.IsSelected(controllers: "StockIn", actions: "Index")">
                        <a href="@Url.Action("index", "StockIn")">
                            <i class="fa fa-users"></i>
                            <span class="nav-label">Stock in</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controllers: "StockAsOn", actions: "Index")">
                        <a href="@Url.Action("index", "StockAsOn")">
                            <i class="fa fa-users"></i>
                            <span class="nav-label">Stock as on</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>