@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model QuotationSystem.Models.User.UserViewModel
@{
    ViewData["Title"] = "User List";
}
<div class="pt-5 p-3">
    <style>
        .label-textbox-gap {
            gap: .5rem;
        }
    </style>
    <div class="d-flex flex-column" style="gap: 1rem">
        <!--Search form-->
        <form class="d-flex" id="search-criteria" style="gap:1rem;">
            <div class="d-flex align-items-center label-textbox-gap">
                <div>UserID:</div>
                <input class="form-control" id="textId" type="text" />
            </div>

            <div class="d-flex align-items-center label-textbox-gap">
                <div>Name:</div>
                <input class="form-control" id="textName" type="text" />
            </div>

            <div class="d-flex align-items-center label-textbox-gap">
                <div>Department:</div>
                <input class="form-control" id="textDepartment" type="text" />
            </div>

            <button type="button" class="btn btn-success" id="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>

        <!--button-->
        <div class="d-flex w-100 justify-content-end">
            <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter"><i class="fa-solid fa-plus"></i>Add New</button>
        </div>
        <!--Modal-->
        <partial name="_AddUserPartial"/>
        @*<vc:add-user-modal></vc:add-user-modal>*@

        <!--table-->
        <div class="table-responsive ibox-content">
            <table id="user-table" class="table table-bordered table-hover table-striped" style="width:100%;" cellspacing="0"></table>
        </div>
    </div>
</div>

<!--Modal-->
<form asp-controller="User" asp-action="ResetPassword" method="post" id="reset-password">
</form>
<div id="edit-user">
</div>
<form asp-controller="User" asp-action="DeleteUser" method="post" id="delete-user">
</form>
@section Scripts{
    <script>
        $(document).ready(() => {
            var colOptions = [
                { title: "No", render: (data, type, row, meta) => meta.row + meta.settings._iDisplayStart + 1, className: "text-center" },
                { title: "User ID", data: "userId" },
                { title: "Name", data: "userName" },
                { title: "Department", data: "departmentId" },
                { title: "Status", data: "activeStatus", className: "text-center", render: renderActiveStatus },
                { title: "Reset Password", data: "userId", className: "text-center", render: renderResetPasswordButtons },
                { title: "User Management", data: "mUserPermissions", className: "text-center", render: renderUserCheckMark },
                { title: "Item Management", data: "mUserPermissions", className: "text-center", render: renderItemCheckMark },
                { title: "Quotation Management", data: "mUserPermissions", className: "text-center", render: renderQuotationCheckMark },
                { title: "Action", data: "userId", render: renderActionButtons }
            ];
            table = $('#user-table').DataTable({
                "processing": true,
                "serverSide": true,
                "bLengthChange": false,
                "bFilter": true,
                "searching": false,
                "pageLength": 20,
                "displayStart": 0,
                "scrollX": true,
                "ajax": {
                    url: '@Url.Action("Search")',
                    type: "POST",
                    data: (opt) => {
                        console.log($('#search-criteria').serializeToJSON());
                        //console.table(opt);
                        return {
                            userId: `${$('#textId').val()}`,
                            name: `${$('#textName').val()}`,
                            department: `${$('#textDepartment').val()}`,
                            option: opt
                        };
                    },
                    error: handlerDataTableError
                },
                "columns": colOptions,
            });

            $("#search-button").click(() => {
                table.ajax.reload();
            });
        });

        function renderActionButtons(data, type, row) {
            console.log(row)
            if (row.activeStatus === 'Y') {
                return `<div class="d-flex justify-content-center" style="gap:.5rem">
                            <button class="btn btn-primary" onclick="editUser('${data}')"> <i class="fa-regular fa-pen-to-square"></i></button>
                        </div>`;
            }
            return `<div class="d-flex justify-content-center" style="gap:.5rem">
                        <button class="btn btn-primary" onclick="editUser('${data}')"> <i class="fa-regular fa-pen-to-square"></i></button>
                        <button class="btn btn-danger" onclick="getDeleteUserModal('${data}')"><i class="fa-solid fa-trash-can"></i></button>
                     </div>`;
        }
        function renderResetPasswordButtons(data, type, row) {
            return `<button class="btn btn-warning btn-sm" onclick="getResetPasswordModal('${data}')"><i class="fa-solid fa-arrows-rotate"></i></button>`;
        }
        function renderUserCheckMark(data, type, row) {
            //console.log(data);
            if (data.some((p) => p.menuId === 'USS010' && p.activeStatus === 'Y')) {
                return `<i class="fa-solid fa-check"></i>`;
            }
            return '';
        }
        function renderActiveStatus(data, type, row) {
            return data == 'Y' ? '<div class="text-success">Active</div>' : '<div class="text-danger">Inactive</div>';
        }
        function renderItemCheckMark(data, type, row) {
            //console.log(data);
            if (data.some((p) => p.menuId === 'ITS010' && p.activeStatus === 'Y')) {
                return `<i class="fa-solid fa-check"></i>`;
            }
            return '';
        }
        function renderQuotationCheckMark(data, type, row) {
            //console.log(data);
            if (data.some((p) => p.menuId === 'QTS020' && p.activeStatus === 'Y')) {
                return `<i class="fa-solid fa-check"></i>`;
            }
            return '';
        }
        function editUser(userId) {
            $.ajax({
                url: '@Url.Action("GetEditUserModal")',
                type: 'POST',
                data: { userId: userId },
                success: (result) => {
                    $("#edit-user").html(result);
                    $("#editModalCenter").modal("show")
                },
                error: (data) => {
                    console.log(data);
                }
            });
        }
        function getDeleteUserModal(userId) {
            $.ajax({
                url: '@Url.Action("GetDeleteUserModal")',
                type: 'POST',
                data: { userId: userId },
                success: (result) => {
                    $("#delete-user").html(result);
                    $("#deleteUserModal").modal("show");
                }
            });
        }
        function getResetPasswordModal(userId) {
            //console.log(userId);
            $.ajax({
                url: '@Url.Action("GetResetPasswordModal")',
                type: 'POST',
                data: { userId: userId },
                success: (result) => {
                    $("#reset-password").html(result);
                    $("#resetPasswordModal").modal("show");
                }
            });
        }

        function resetPassword(userId) {
            $.ajax({
                url: '@Url.Action("ResetPassword")',
                type: 'POST',
                data: { userId: userId },
                success: (result) => {
                    $("#resetPasswordModal").modal("toggle");
                }
            });
            //$("#reset-password").submit();
        }
        function deleteUser(userId) {
            $.ajax({
                url: '@Url.Action("DeleteUser")',
                type: 'DELETE',
                data: { userId: userId },
                success: () => {
                    $("#deleteUserModal").modal("toggle");
                    $('#user-table').DataTable().ajax.reload();
                }
            });
        }

         $("form#reset-password").ajaxForm({
             complete: (result) => {
                 var data = result.responseJSON;
                 if (data.isSuccess) {
                     $("#resetPassword").modal("hide");
                     swal.fire({
                         title: 'Successfully updated!',
                         type: 'success'
                     }).then(() => {
                         location.href = '@Url.Action("Index")';
                     });
                 }
                 else {
                     var text = "<p>" + data.message + "</p>";
                     $("#error-content").html(text);
                 }
             }
         });
        function handlerDataTableError(xhr, error, code) {
            var isUnauthorized = code === "Unauthorized";
            if (isUnauthorized) {
                alert("Session Timeout");
            }
        }
    </script>
}