@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Stock In";
}
@model QuotationSystem.Models.StockIn.StockInViewModel

<form class="" asp-controller="StockIn" asp-action="StockInSubmit" method="post" id="stockinForm">
    <div class="pt-4">
        <div class="ibox-content">
            <div id="">
                
                <div class="row mt-4 align-items-center">
                    <div class="col-md-4 text-right">
                        <h4>Label ID</h4>
                    </div>
                    <div class="col-md-4 text-center">
                        <input id="labelIdInput" data-name="labelIdInput" type="text" class="form-control labelIdInput" placeholder="" asp-for="LabelId" required minlength="1">
                        <span asp-validation-for="LabelId" class="text-danger"></span>
                    </div>
                </div>
               
                <div class="row mt-4 align-items-center">
                    <div class="col-md-4 text-right">
                        <h4>Item Code</h4>
                    </div>
                    <div class="col-md-4 text-left">
                        <input id="itemCodeInput" data-name="itemCodeInput" type="hidden" asp-for="ItemCode" required>
                        <span id="itemCodeStr"></span>
                    </div>
                </div>

                <div class="row mt-4 align-items-center">
                    <div class="col-md-4 text-right">
                        <h4>Item Name</h4>
                    </div>
                    <div class="col-md-4 text-left">
                        <input id="itemNameInput" data-name="itemNameInput" type="hidden" asp-for="ItemName" required>
                        <span id="itemNameStr"> </span>
                    </div>
                </div>

                <div class="row mt-4 align-items-center">
                    <div class="col-md-4 text-right">
                        <h4>Lot No</h4>
                    </div>
                    <div class="col-md-4 text-left">
                        <input id="lotNoInput" data-name="lotNoInput" type="hidden" asp-for="LotNo" required>
                        <span id="lotNoStr"></span>
                    </div>
                </div>

                <div class="row mt-4 align-items-center">
                    <div class="col-md-4 text-right">
                        <h4>Qty</h4>
                    </div>
                    <div class="col-md-4 text-right">
                        <input id="qtyInput" data-name="qtyInput" type="hidden" asp-for="Qty" required>
                        <span id="qtyStr"></span>
                    </div>
                    
                </div>
                
                <div class="row mt-4 align-items-center">
                    <div class="col-md-4 text-right">
                        <h4>WH ID</h4>
                    </div>
                    <div class="col-md-4 text-center">
                        @Html.DropDownListFor(m => m.WhId, new SelectList(Model.WhIds), new { @class = "form-control" })
                    </div>
                    
                </div>

                <div class="row mt-4 align-items-center">
                    <div class="col-md-4 text-right">
                        <h4>Location ID</h4>
                    </div>
                    <div class="col-md-4 text-center">
                        <input id="locationIdInput" data-name="locationIdInput" type="text" class="form-control locationIdInput" placeholder="" asp-for="LocationId" required minlength="1">
                        <span asp-validation-for="LocationId" class="text-danger"></span>
                    </div>
                </div>

                <div class="pt-4"></div>
                <div class="center d-flex justify-content-center">
                    <div class="mr-2">
                        <button id="cancelBtn" type="reset" class="btn btn-secondary">
                            Cancel
                        </button>
                    </div>

                    <div>
                        <button id="saveBtn" type="submit" class="btn btn-primary">
                            Save
                        </button>
                    </div>
                </div>
                <div class="pt-2"></div>
            </div>
        </div>
        <br />

    </div>
</form>


@section Scripts{

    <script>
        $(document).ready(function () {
            // Event listener for item code input
            function isValidLocationIDInput(input) {
                const regex = /^\d{4}(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])\d{5}$/;
                return regex.test(input);
            }

            // Add form submission handler
            $("#stockinForm").submit(function (event) {
                event.preventDefault();
                var formData = $(this).serialize();
                if (($("#labelIdInput").val() === ""||
                    $("#itemCodeStr").text() === "" ||
                    $("#itemCodeInput").val() === "" ||
                    $("#lotNoStr").text() === "" ||
                    $("#lotNoInput").val() === "" ||
                    $("#qtyStr").text() === "" ||
                    $("#qtyInput").val() === "" ||
                    $("#locationIdInput").val() === "") ||
                    !isValidLocationIDInput($("#labelIdInput").val())
                    ){
                        console.log("it's work")
                        return;
                    }
                // Send the form data to the server
                $.ajax({
                    url: '@Url.Action("StockInSubmit")',
                    type: 'POST',
                    data: formData,
                    success: function (response) {
                        if (response.success) {
                            // Show SweetAlert success message
                            Swal.fire({
                                icon: 'success',
                                title: 'Success',
                                text: response.message,
                                confirmButtonText: 'OK'
                            }).then(() => {
                                // Optional: Redirect to another page after successful save
                                window.location.href = '@Url.Action("Index")';
                            });
                        } else {
                            // Show SweetAlert error message if the save was not successful
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: response.message,
                                confirmButtonText: 'OK'
                            });
                        }
                    },
                    error: function () {
                        // Show SweetAlert error message if there was an error with the AJAX request
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'An error occurred while saving stock in data.',
                            confirmButtonText: 'OK'
                        });
                    }
                });
            });

            $("#cancelBtn").click(function () {
                window.location.href = '@Url.Action("Index")';
            });

            $("#labelIdInput").on("input", function () {
                var labelIdInputValue = $(this).val();
                var labelIdParts = labelIdInputValue.split(',');

                // Check if the input value contains enough parts
                if (labelIdParts.length === 4) {
                    var labelId = labelIdParts[0].trim();
                    var itemCode = labelIdParts[1].trim();
                    var lotNo = labelIdParts[2].trim();
                    var qty = labelIdParts[3].trim();

                    // Update the corresponding fields with the extracted values
                    // labelIdInput
                    $("#labelIdInput").val(labelId);
                    $("#itemCodeStr").text(itemCode);
                    $("#itemCodeStr").attr("style", "color: black;");
                    $("#itemCodeInput").val(itemCode);
                    $("#lotNoStr").text(lotNo);
                    $("#lotNoStr").attr("style", "color: black;");
                    $("#lotNoInput").val(lotNo);
                    $("#qtyStr").text(qty);
                    $("#qtyStr").attr("style", "color: black;");
                    $("#qtyInput").val(qty);
                    
                    $.ajax({
                        url: '@Url.Action("GetItemDetailById")',  // Replace with your server route to fetch item name
                        type: "POST",
                        data: { itemCode: itemCode },
                        success: function (response) {
                            // Update the item name input field with the fetched item name
                            
                            $("#itemNameStr").text(response.itemName);
                            $("#itemNameStr").attr("style", "color: black;");

                            $("#itemNameInput").val(response.itemName);
                            
                        },
                        error: function () {
                            // Handle errors if necessary
                            $("#itemNameStr").text("Item Name not found");
                            $("#itemNameStr").attr("style", "color: red;");
                            console.log("Error fetching item name");
                        },
                    });
                } else {
                    // Clear the fields if the input format is incorrect
                    $("#itemNameStr").text("Item Name not found");
                    $("#itemNameStr").attr("style", "color: red;");
                    $("#itemNameInput").val("");
                    $("#itemCodeStr").text("Item Code not found");
                    $("#itemCodeStr").attr("style", "color: red;");
                    $("#itemCodeInput").val("");
                    $("#lotNoStr").text("Lot No not found");
                    $("#lotNoStr").attr("style", "color: red;");
                    $("#lotNoInput").val("");
                    $("#qtyStr").text("Qty not found");
                    $("#qtyStr").attr("style", "color: red;");
                    $("#qtyInput").val("");
                }

                

            });


        });

    </script>

 }