@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Stock As On Detail";
}

@model QuotationSystem.Models.StockAsOn.StockAsOnDetailViewModel

<div class="p-3 pt-5">
    <div class="d-flex flex-column" style="gap:1rem">
        <!--table-->
        <div class="table-responsive ibox-content">
            <table id="item-table" class="table table-bordered table-hover table-striped" style="width:100%;" cellspacing="0"></table>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        $(document).ready(() => {
            var colOptions = [
                { title: "Label ID", data: "labelId", className: "text-center" },
                { title: "Item Code", data: "itemCode", className: "text-center" },
                { title: "Lot No", data: "lotNo", className: "text-center" },
                { title: "Location", data: "locationName", className: "text-center" },
                { title: "Qty", data: "qty", className: "text-center" },
                { title: "Stock In Date", data: "stockInDate", className: "text-center" },
            ];
            console.log("@Model.ItemCode");
            console.log("@Model.ItemName");
            table = $('#item-table').DataTable({
                "processing": true,
                "serverSide": true,
                "bLengthChange": false,
                "responsive": true,
                "bFilter": true,
                "searching": false,
                "pageLength": 20,
                "displayStart": 0,
                "ajax": {
                    url: "@Url.Action("GetStockAsOnDetail")",
                    type: "POST",
                    data: (opt) => {
                        return {
                            itemCode: "@Model.ItemCode",
                            whId: "@Model.WhId",
                            option: opt
                        };
                    }
                },
                "columns": colOptions,
            });
        });

    </script>
}